[tool.poetry]
name = "parsita"
version = "1.7.1"
description = "Parser combinator library for Python"
authors = ["David Hagen <david@drhagen.com>"]
license = "MIT"
readme = "README.md"
documentation = "https://parsita.drhagen.com"
repository = "https://github.com/drhagen/parsita"
keywords = ["text", "parsing", "parser",  "combinator"]
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Intended Audience :: Developers",
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Operating System :: OS Independent",
]


[tool.poetry.dependencies]
python = "^3.7.0"

[tool.poetry.dev-dependencies]
poetry = "1.2.0rc2"
nox_poetry = "^1.0.1"

# Test
pytest = "^7.1.1"
coverage = { version = "^6.3.2", extras = ["toml"] }
pytest-cov = "^3.0.0"
pytest-timeout = "^2.1.0"

# Black
black = ">=22.3.0"

# Isort
isort = "^5.9.3"

# Lint
flakehell = "0.9.0"
flake8 = "3.9.0"  # flakehell breaks on 3.9.1
pep8-naming = "^0.11.1"

# Docs
mkdocs-material = "^8.2.8"


[tool.coverage.run]
branch = true

[tool.coverage.report]
exclude_lines = [
    "pragma: no cover",
    "raise NotImplementedError",
]

[tool.coverage.paths]
source = [
    "src/",
    ".nox/test*/lib/python*/site-packages/",
    ".nox/test*/Lib/site-packages/",
]


[tool.black]
line-length = 120


[tool.isort]
profile = "black"
line_length = 120


[tool.flakehell]
max_line_length = 120

[tool.flakehell.plugins]
# Allow binary operators before line breaks
# Allow whitespace around `:` because black requires it
pycodestyle = ["+*", "-W503", "-E203"]
# Allow glob imports
pyflakes = ["+*", "-F403", "-F405"]
# Allow methods whose first argument isn't named `self`
pep8-naming = ["+*", "-N805"]


[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
