name: Release

on:
  push:
    tags:
      - 'v*'

env:
  python-version: "3.9"
  poetry-version: "1.6.1"

jobs:
  pypi-publish:
    name: Publish release to PyPI
    runs-on: ubuntu-22.04
    environment: release
    permissions:
      id-token: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install Poetry
        run: pipx install poetry==${{ env.poetry-version }}
      - name: Install Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ env.python-version }}
      - name: Build release with Poetry
        run: poetry build
      - name: Check that tag version and Poetry version match
        run: '[[ "v$(poetry version --short)" == "${{ github.ref_name }}" ]]'
      - name: Upload distribution to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
